@using System.Web.Mvc.Html
@using Unic.Flex.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Implementation.Fields.InputFields.DatePickerFieldViewModel

<li class="flex_listitem @Model.CssClass" data-init="flexdatepicker" data-flexdatepicker-options='{"locale": "@Model.Locale", "dateFormat": "@Model.DateFormat"}'>
    @Html.FlexLabel(m => m.Value, Model.Label, Model.LabelAddition)
    @Html.TextBoxFor(m => m.Value, Html.GetAttributes(Model))

    <a href="#" data-flexdatepicker="trigger" class="flex_datepicker_trigger">@TranslationHelper.FlexText("Show Datepicker")</a>

    @Html.FlexValidator(model => model.Value)
    @Html.FlexComponent(model => model.Tooltip)
</li>