@using System.Web.Mvc.Html
@using Unic.Flex.Presentation
@model Unic.Flex.Implementation.Fields.InputFields.MultilineTextFieldViewModel

<li class="flex_listitem @Model.CssClass">
    @Html.FlexLabel(m => m.Value, Model.Label, Model.LabelAddition)
    @Html.TextAreaFor(m => m.Value, Html.GetAttributes(Model))
    @Html.FlexValidator(model => model.Value)
    @Html.FlexComponent(model => model.Tooltip)
</li>