@using System.Web.Mvc.Html
@using Unic.Flex.Definitions
@using Unic.Flex.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Implementation.Fields.InputFields.PasswordFieldViewModel

<li class="flex_listitem @Model.CssClass" data-flexform="showpassword" data-key="@Model.Id">
    @Html.FlexLabel(m => m.Value, Model.Label, Model.LabelAddition)
    @Html.PasswordFor(m => m.Value, Html.GetAttributes(Model))

    <label class="visuallyhidden" for="@Html.GetId(Constants.TextIdSuffix)" id="@Html.GetId(Constants.TextIdSuffix + "_" + Constants.LabelIdSuffix)">
        @Model.Label
    </label>

    <input type="text" name="@Html.GetName(Constants.TextIdSuffix)" id="@Html.GetId(Constants.TextIdSuffix)" aria-hidden="true" aria-labelledby="@Html.GetId(Constants.TextIdSuffix + "_" + Constants.LabelIdSuffix)" />

    <div class="flex_singlecheckbox">
        <input type="checkbox" data-flexform="showpasswordtrigger" id="@Html.GetId(Constants.CheckboxIdSuffix)" name="@Html.GetName(Constants.CheckboxIdSuffix)" value="showpassword" aria-labelledby="@Html.GetId(Constants.CheckboxIdSuffix + "_" + Constants.LabelIdSuffix)" />
        <label for="@Html.GetId(Constants.CheckboxIdSuffix)" id="@Html.GetId(Constants.CheckboxIdSuffix + "_" + Constants.LabelIdSuffix)">
            @TranslationHelper.FlexText("Show Password")
        </label>
    </div>

    @Html.FlexValidator(model => model.Value)

    @Html.FlexComponent(model => model.Tooltip)
</li>