@using Sitecore.Globalization
@using Unic.Flex.Globalization
@model Unic.Flex.Model.ViewModel.Components.NavigationPaneViewModel

<div class="flex_mod_multistepnavigation" data-flexform="multistepnavigation">
    <ul>
        
        @foreach (var step in Model.Items)
        {
            if (step.IsActive)
            {
                <li class="flex_var_active" data-flexform="multistepnavigationitem">
                    <span class="flex_multistepitem">
                        <span class="visuallyhidden">@TranslationHelper.FlexText("Your are on step") </span>
                        @step.Title
                    </span>
                </li>
            }
            else if (step.IsLinked)
            {
                <li data-flexform="multistepnavigationitem">
                    <a href="@step.Url" class="flex_multistepitem">
                        <span class="visuallyhidden">@TranslationHelper.FlexText("Go to step") </span>
                        @step.Title
                    </a>
                </li>
            }
            else
            {
                <li class="flex_var_inactive" data-flexform="multistepnavigationitem">
                    <span class="flex_multistepitem">
                        @step.Title
                    </span>
                </li>
            }
        }
    </ul>
</div>