@using System.Web.Mvc.Html
@using Unic.Flex.Core.Globalization
@model Unic.Flex.Model.ViewModel.Components.TooltipViewModel

@if (Model.ShowTooltip)
{
    <div class="flex_tooltipcontainer" id="@Html.IdForModel()" data-init="flextooltip">
        <a href="#" role="tooltip" aria-haspopup="true" data-flextooltip="link">
            <span>
                @TranslationHelper.FlexText("Info")
            </span>
        </a>
        <span class="flex_tooltip" aria-expanded="false" data-flextooltip="tooltip">
            <span class="flex_tooltipheader">
                @Model.TooltipTitle
            </span>
            <span class="flex_tooltipcontent">
                @Model.TooltipText
            </span>
            <a href="#" class="flex_tooltipclose" data-flextooltip="close">
                <span>
                    @TranslationHelper.FlexText("Close")
                </span>
            </a>
        </span>
    </div>
}