@using Sitecore.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Model.ViewModel.Steps.MultiStepViewModel

@if (Model.ShowNavigationPane && Model.NavigationPane != null)
{
    @Html.FlexComponent(m => m.NavigationPane)
}

@for (int i = 0; i < Model.Sections.Count; i++)
{
    @Html.FlexComponent(m => m.Sections[i])
}

@if (!string.IsNullOrWhiteSpace(Model.PreviousStepUrl))
{
    <a href="@Model.PreviousStepUrl">@Translate.Text("Previous Step")</a>
}

@if (Model.IsSkippable)
{
    <a href="@Model.NextStepUrl">@Translate.Text("Skip Step")</a>
}

<input type="submit" value="submit" />