@using System.Web.Mvc.Html
@using Unic.Flex.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Model.ViewModel.Steps.MultiStepViewModel

@if (Model.ShowNavigationPane && Model.NavigationPane != null)
{
    @Html.FlexComponent(m => m.NavigationPane)
}

@Html.ValidationSummary(true)

<div class="flex_multistep_active">
    <section class="flex_multistep_content">
        <h1 class="visuallyhidden">@Model.Title</h1>
        
        @if (!string.IsNullOrWhiteSpace(Model.Introduction))
        {
            <p>@Html.Raw(Model.Introduction.Replace(Environment.NewLine, "<br />"))</p>
        }

        @for (int i = 0; i < Model.Sections.Count; i++)
        {
            @Html.FlexComponent(m => m.Sections[i])
        }

        <div class="flex_formfooter flex_var_multistep">
            <div class="flex_buttoncontainer">
                @if (!string.IsNullOrWhiteSpace(Model.CancelUrl))
                {
                    <a class="flex_button_secondary" href="@Model.CancelUrl">@Model.CancelText</a>
                }

                @if (!string.IsNullOrWhiteSpace(Model.PreviousStepUrl))
                {
                    <a class="flex_button_secondary" href="@Model.PreviousStepUrl">@TranslationHelper.FlexText("Previous Step")</a>
                }

                @if (Model.IsSkippable)
                {
                    <a class="flex_button_secondary" href="@Model.NextStepUrl">@TranslationHelper.FlexText("Skip Step")</a>
                }

                <button type="submit" role="button">
                    <span>
                        @string.Format("{0}", Model.IsLastStep ? TranslationHelper.FlexText("Finish Form") : TranslationHelper.FlexText("Next Step"))
                    </span>
                </button>
            </div>
        </div>

    </section>
</div>