@using System.Web.Mvc.Html
@using Unic.Flex.Core.Globalization
@using Unic.Flex.Core.Presentation
@model Unic.Flex.Model.Steps.MultiStep

@functions {
    string GetHeaderClasses()
    {
        return !string.IsNullOrWhiteSpace(Model.HeaderAdditionalClasses)
            ? "visuallyhidden " + Model.HeaderAdditionalClasses
            : "visuallyhidden";
    }
}

@if (Model.ShowNavigationPane && Model.NavigationPane != null)
{
    @Html.FlexComponent(m => m.NavigationPane)
}

@Html.ValidationSummary(true, TranslationHelper.FlexText("An error occured please check your data"))

<div class="flex_multistep_active">
    <section class="flex_multistep_content">
        <h1 class="@GetHeaderClasses()">@Model.Title</h1>

        @if (!string.IsNullOrWhiteSpace(Model.Introduction))
        {
            <p>@Html.Raw(Model.Introduction.Replace(Environment.NewLine, "<br />"))</p>
        }

        @for (int i = 0; i < Model.Sections.Count; i++)
        {
            @Html.FlexComponent(m => m.Sections[i])
        }

        <div class="flex_formfooter flex_var_multistep">
            <div class="flex_buttoncontainer">
                @if (!string.IsNullOrWhiteSpace(Model.CancelUrl))
                {
                    <a class="flex_button_secondary" href="@Model.CancelUrl">@Model.CancelText</a>
                }

                @if (!string.IsNullOrWhiteSpace(Model.PreviousStepUrl))
                {
                    <a class="flex_button_secondary" href="@Model.PreviousStepUrl">@Model.PreviousButtonText</a>
                }

                @if (Model.IsSkippable)
                {
                    <a class="flex_button_secondary" href="@Model.NextStepUrl">@Model.SkipButtonText</a>
                }

                <button type="submit" role="button" @Html.Raw(Html.FormatAttributes(Model.ButtonAttributes))>
                    <span>
                        @string.Format("{0}", !string.IsNullOrWhiteSpace(Model.ButtonText) ? Model.ButtonText : (Model.IsLastStep ? TranslationHelper.FlexText("Finish Form") : TranslationHelper.FlexText("Next Step")))
                    </span>
                </button>
            </div>
        </div>

    </section>
</div>