@using Sitecore.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Model.ViewModel.Steps.SummaryViewModel

@{
    var stepTitle = string.Empty;
    
    if (Model.ShowNavigationPane && Model.NavigationPane != null)
    {
        @Html.FlexComponent(m => m.NavigationPane)
    }
}

<section class="flex_summary">
    
    <h1 class="visuallyhidden">@Model.Title</h1>
    <p>@Model.Introduction</p>

    @foreach (var stepSection in Model.Sections)
    {
        if (stepTitle != stepSection.StepTitle)
        {
            stepTitle = stepSection.StepTitle;
            <h2>@stepTitle</h2>
        }

        if (!stepSection.DisableFieldset && !string.IsNullOrWhiteSpace(stepSection.Title))
        {
            <h3>@stepSection.Title</h3>
        }

        <ul class="flex_summary_list">
            @foreach (var field in stepSection.Fields)
            {
                <li class="flex_summary_item">
                    <strong>@field.Label</strong>
                    <div>@Html.Raw(field.TextValue.Replace(Environment.NewLine, "<br/>"))</div>
                </li>
            }
        </ul>
    }
</section>

@if (!string.IsNullOrWhiteSpace(Model.PreviousStepUrl))
{
    <a href="@Model.PreviousStepUrl">@Translate.Text("Previous Step")</a>
}

@if (!string.IsNullOrWhiteSpace(Model.CancelUrl))
{
    <a href="@Model.CancelUrl">@Model.CancelText</a>
}

<div class="flex_formfooter">
    <div class="flex_buttoncontainer">
        <button type="submit" role="button">
            <span>
                @Translate.Text("Finish Form")
            </span>
        </button>
    </div>
</div>