@using Unic.Flex.Presentation
@model Unic.Flex.Model.ViewModel.Steps.SummaryViewModel

@if (Model.ShowNavigationPane && Model.NavigationPane != null)
{
    @Html.FlexComponent(m => m.NavigationPane)
}

@foreach (var stepSection in Model.Sections)
{
    <h3>@stepSection.Title</h3>
    foreach (var field in stepSection.Fields)
    {
        <span>@field.Label</span>
        <span>: </span>
        <span>@field.TextValue</span>
        <br/>
    }
}

<a href="@Model.PreviousStepUrl">Back</a>
<input type="submit" value="submit" />