@using Unic.Flex.Globalization
@using Unic.Flex.Presentation
@model Unic.Flex.Model.ViewModel.Steps.SummaryViewModel

@{
    var stepTitle = string.Empty;
    
    if (Model.ShowNavigationPane && Model.NavigationPane != null)
    {
        @Html.FlexComponent(m => m.NavigationPane)
    }
}

<div class="flex_multistep_active">
    <section class="flex_multistep_content">
        <h1 class="visuallyhidden">@Model.Title</h1>

        <section class="flex_summary">

            <h1 class="visuallyhidden">@Model.Title</h1>
            <p>@Model.Introduction</p>

            @foreach (var stepSection in Model.Sections)
            {
                if (stepTitle != stepSection.StepTitle)
                {
                    stepTitle = stepSection.StepTitle;
                    <h2>@stepTitle</h2>
                }

                if (!stepSection.DisableFieldset && !string.IsNullOrWhiteSpace(stepSection.Title))
                {
                    <h3>@stepSection.Title</h3>
                }

                <ul class="flex_summary_list">
                    @foreach (var field in stepSection.Fields)
                    {
                        <li class="flex_summary_item">
                            <strong>@field.Label</strong>
                            <div>
                                @foreach (var item in field.TextValue.Split(new[] { Environment.NewLine }, StringSplitOptions.None))
                                {
                                    @item<br />
                                }
                            </div>
                        </li>
                    }
                </ul>
            }
        </section>

        <div class="flex_formfooter flex_var_multistep">
            <div class="flex_buttoncontainer">
                @if (!string.IsNullOrWhiteSpace(Model.CancelUrl))
                {
                    <a class="flex_button_secondary" href="@Model.CancelUrl">@Model.CancelText</a>
                }

                @if (!string.IsNullOrWhiteSpace(Model.PreviousStepUrl))
                {
                    <a class="flex_button_secondary" href="@Model.PreviousStepUrl">@TranslationHelper.FlexText("Previous Step")</a>
                }

                <button type="submit" role="button">
                    <span>
                        @TranslationHelper.FlexText("Finish Form")
                    </span>
                </button>
            </div>
        </div>

    </section>
</div>