@using Unic.Flex.Core.Presentation
@using Unic.Flex.Model.Definitions
@model Unic.Flex.Implementation.Fields.TextOnly.TextOnlyField

<li class="@Model.CssClass" @Html.Raw(Html.FormatAttributes(Model.ContainerAttributes))>

    @if (!string.IsNullOrWhiteSpace(Model.Label))
    {
        <strong class="flex_label">@Model.Label</strong>
    }

    <div class="flex_rtecontent" id="@(Model.DescribesFormStep ? string.Format("{0}_{1}", Model.Id, Constants.DescriptorIdSuffix) : null)">
        @if (Model.TextValue.StartsWith("<p>"))
        {
            @Html.Raw(Model.TextValue)
        }
        else
        {
            <p>@Html.Raw(Model.TextValue)</p>
        }
    </div>

</li>