@using System.Web.Mvc.Html
@using Unic.Flex.Core.Definitions
@using Unic.Flex.Core.Presentation
@model Unic.Flex.Implementation.Fields.ListFields.CheckBoxListField

@{
    var label = Html.GetLabelWithReplacedLink(Model.Label, Model.LabelLink);
    if (!string.IsNullOrWhiteSpace(Model.LabelAddition))
    {
        label += string.Format(" {0}", Model.LabelAddition);
    }
}

<li class="flex_listitem @Model.CssClass" @Html.Raw(Html.FormatAttributes(Model.ContainerAttributes))>

    <fieldset role="listbox" aria-multiselectable="true">
        <legend class="flex_label" id="@Html.IdForModel()">
            @Html.Raw(label)
        </legend>

        <div class="flex_checkboxgroupoptions">

            @{
                var attributes = Html.FormatAttributes(Html.GetAttributes(Model));
                var propertyName = string.Format("{0}.Value", ViewData.TemplateInfo.HtmlFieldPrefix);
            }

            @for (var i = 0; i < Model.Items.Count(); i++)
            {
                var item = Model.Items[i];
                var propertyId = Html.GetId(string.Format("Option[{0}]", i));
                var propertyLabel = string.Format("{0}_{1}", propertyId, Constants.LabelIdSuffix);
                var selected = Model.Value != null && Model.Value.Contains(item.Value);
                var selectedText = selected ? "checked=\"checked\"" : string.Empty;

                <div class="flex_checkboxgroupoption">

                    <input type="checkbox" name="@propertyName" id="@propertyId" value="@item.Value" role="option"
                           aria-multiline="false" aria-labelledby="@propertyLabel" aria-checked="@selected.ToString()"
                           @Html.Raw(attributes) @Html.Raw(selectedText) />

                    <label class="flex_label" for="@propertyId" id="@propertyLabel">
                        @item.Text
                    </label>

                </div>
            }

        </div>

    </fieldset>

    @Html.FlexValidator(model => model.Value)
    @Html.FlexComponent(model => model.Tooltip)
</li>