@using System.Web.Mvc.Html
@model Unic.Flex.Implementation.Fields.ListFields.CheckBoxListFieldViewModel

<li>
    @Html.LabelFor(m => m.Value, Model.Label)
    
    @for (var i=0; i<Model.Items.Count(); i++)
    {
        <div>
            
            @{
                var checkbox = Model.Items[i];
                var propertyName = string.Format("{0}.Value", ViewData.TemplateInfo.HtmlFieldPrefix);
                var propertyId = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldId(string.Format("{0}[{1}]", propertyName, i));
                var selected = Model.Value != null && Model.Value.Contains(checkbox.Value) ? "checked=\"checked\"" : string.Empty;
            }
            
            <label for="@propertyId">@checkbox.Text</label>
            <input type="checkbox" name="@propertyName" id="@propertyId" value="@checkbox.Value" @selected />

        </div>
    }

    @Html.ValidationMessageFor(model => model.Value)
</li>