@using System.Linq
@using Unic.Flex.Context
@using Unic.Flex.Globalization
@using Unic.Flex.Model.DomainModel.Forms
@using Unic.Flex.Model.DomainModel.Steps
@using Unic.Flex.Presentation

@{
    Layout = ViewBag.HtmlLayout;
    var form = ViewBag.Form as Form;
    if (form == null)
    {
        return;
    }

    var formUrl = Sitecore.Web.WebUtil.GetFullUrl(form.GetFirstStepUrl()).Replace(":443", string.Empty);
}

@Html.Raw(ViewBag.HtmlMailIntroduction)

<h1>@form.Title</h1>

@foreach (var step in form.Steps.Where(s => !(s is Summary)))
{
    @Html.FlexComponent(m => step, "Mailers/SavePlug/Step", (string)ViewBag.Theme)
}

@Html.Raw(ViewBag.HtmlMailFooter)

<p class="formdetail">
    @TranslationHelper.FlexText("Form Title"): <a href="@formUrl" target="_blank">@formUrl</a><br />
    @TranslationHelper.FlexText("Language Name"): @Sitecore.Context.Language.Name
</p>