@using System.Linq
@using System.Web
@using Sitecore.Configuration
@using Sitecore.Globalization
@using Unic.Flex.Context
@using Unic.Flex.Model.DomainModel.Forms
@using Unic.Flex.Model.DomainModel.Steps
@using Unic.Flex.Presentation

@{
    Layout = ViewBag.HtmlLayout;
    var form = ViewBag.Form as Form;
    if (form == null)
    {
        return;
    }

    var formUrl = Sitecore.Web.WebUtil.GetFullUrl(form.GetFirstStepUrl());
}

@Html.Raw(ViewBag.HtmlMailIntroduction)

<h1>@form.Title</h1>
<p>@form.Introduction</p>

@foreach (var step in form.Steps.Where(s => !(s is Summary)))
{
    @Html.FlexComponent(m => step, "Mailers/SavePlug/Step", (string)ViewBag.Theme)
}

@Html.Raw(ViewBag.HtmlMailFooter)

<div style="margin-top: 50px; padding-top: 10px; border-top: 1px solid black; font-size: 90%">
    @Translate.TextByDomain(Settings.GetSetting("Flex.DictionaryDomain"), "Form Title"): <a href="@formUrl">@formUrl</a><br/>
    @Translate.TextByDomain(Settings.GetSetting("Flex.DictionaryDomain"), "Language Name"): @Sitecore.Context.Language.Name
</div>