@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Unic.Flex.Core.Globalization
@using Unic.Flex.Core.Presentation
@using Unic.Flex.Implementation.Fields.InputFields
@model Unic.Flex.Model.Forms.Form

@{
    var optionalHide = Model.TitleVisuallyHidden ? "class='visuallyhidden'" : "";
    var header = $"<h{Model.TitleLevel.Value} {optionalHide}>{Model.Title}</h{Model.TitleLevel.Value}>";
}

@Html.Raw(header)

@if (!string.IsNullOrWhiteSpace(Model.Introduction))
{
    <p>@Model.Introduction</p>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {
                                                            @action = this.Request.RawUrl,
                                                            @class = "flex_formcontainer",
                                                            enctype = Model.ActiveStep.Sections.SelectMany(s => s.Fields).Any(f => f is FileUploadField) ? "multipart/form-data" : "application/x-www-form-urlencoded",
                                                            data_init = "flexform",
                                                            data_flexstyles_options = "{\"uniformOptions\": {\"fileButtonHtml\" : \"" + TranslationHelper.FlexText("Choose file") + "\", \"fileDefaultHtml\": \"" + TranslationHelper.FlexText("No file choosen") + "\"}}"
                                                        }))
{
    @Html.AntiForgeryToken()
    @Html.FormHandler()
    @Html.FlexComponent(m => m.ActiveStep)
}